.hero {
    background-color: $Very-Light-Gray;

    @include breakpoint-down(medium) {
        overflow-x: hidden;
    }

    .container {
        @include breakpoint-up(large) {
            display: flex;
            align-items: center;
            padding-bottom: 5rem;
        }
    }

    &_text {}

    &_image {
        background-image: url("../../images/bg-intro-mobile.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 17.5rem;
        position: relative;

        @include breakpoint-up(medium) {
            min-height: 25rem;
            background-position: center 60%;
        }

        @include breakpoint-up(large) {
            flex: 3;
            order: 2;
            height: 41rem;
            background-image: none;
        }

        &::before {
            @include breakpoint-up(large) {
                content: "";
                background-image: url("../../images/bg-intro-desktop.svg");
                background-size: 93%;
                background-repeat: no-repeat;
                background-position: center bottom;
                height: 100%;
                position: absolute;
                width: 150%;
                background-size: 123%;
                background-position: 0 83%;
            }
        }

        &::after {
            content: "";
            background-image: url("../../images/image-mockups.png");
            background-size: 93%;
            background-repeat: no-repeat;
            background-position: center bottom;
            height: 100%;
            width: 100%;
            position: absolute;

            @include breakpoint-up(medium) {
                background-size: 25rem;
            }

            @include breakpoint-up(large) {
                height: 126%;
                width: 120%;
                background-size: 94%;
                background-position: center 150%;
                left: 23%;
            }
        }
    }

    &_text {
        text-align: center;

        @include breakpoint-up(large) {
            flex: 2;
            order: 1;
            text-align: left;

        }

        h1 {
            font-size: 2.312rem;
            font-weight: 300;
            color: $Dark-Blue;
            line-height: 1.15;
            margin-bottom: 1.5rem;

            @include breakpoint-up(large) {
                font-size: $font-xl;
            }

        }

        p {
            line-height: 1.5;
            // margin-bottom: ;

        }
    }

}